.view-transition-enter {
--body: #070606;
--text: #eae9fc;
--background: #08061a;
--primary: #4e47de;
--secondary: #556eba;
--accent: #dfdbec;
}

.view-transition-enter-active {
--body: #020303;
--text: #09090c;
--textLight: #e3e6ec;
--textDeep: #ffffff;
--oppThemeClr: #ffffff;
--landing-blur: #000;
--landing-light-blur: #a0a9c790;
--hover-color: #cacafc;
--hover-color-light: #1414d5;
--primary: #c1bef5;
--secondary: #cad1e5;
--accent: #1e1e34;
transition: opacity 0.5s ease, transform 0.5s ease;
}

.view-transition-exit {
background: #586073e6;
opacity: 1;
transform: scale(1);
}

.view-transition-exit-active {
transition: opacity 0.5s ease, transform 0.5s ease;
}